<div class="container pt-3">
  <div class="row">
    <div class="col-md-3">
      <!-- here EventEmmiter is generic type -->
      <!-- (childEmmiter/alias)=parentFunction($event) -->
      <app-product-form (productAdded)="addNewProduct($event)"></app-product-form>
    </div>
    <div class="col-md-5">
      <!-- parent to child communication -->
      <!-- [childPropName/alias]="parentPropName" -->
      <app-product [products]="products"></app-product>
    </div>
  </div>
</div>

<!-- if we want pass elements between component-selector -->
<!-- write html btw selector & add <ng-content> Direcitve inside that component(child) -->

<!-- to access properties inside <ng-content> use @ContentChild('selector') -->
<!-- to access properties outside <ng-content> use @ViewChild('selector') -->